.giphy-container{
    height: 65vh;
    overflow: auto;
    margin: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

.gif{
    padding: 0 2px;
}
.loader {
   margin: auto;
}